*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.bg-spiderman {
  background-image: url("/src/assets/images/spiderman.webp");
  background-position: top;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 15px !important;
  font-weight: bold;
}
.movieCard {
}
.cardOnHover {
  /* display: none; */
  position: absolute;
  top: 0;
  z-index: 11;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.cardInitially {
  /* display: block; */
  /* position: absolute;
  top: 0; */
  z-index: 11;
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.movieCard:hover > .cardInitially {
  /* display: none; */
  transform: perspective(600px) rotateY(-180deg);
}
.movieCard:hover > .cardOnHover {
  /* display: block; */
  transform: perspective(600px) rotateY(0deg);
}

::-webkit-scrollbar {
  display: none;
}